@import 'nav';
@import 'flexgrid';
@import 'aspectratioBox';
@import 'footer';
@import './AddProductPage/addProductPage';
@import 'forms';
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import 'ProductListPage/productListPage';
@import 'ProductPage/productPage';

body {
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a, a:hover, a:focus {
  text-decoration: none !important;
  color: inherit !important;
}

.top-margin-for-nav {
  padding-top: 3.55rem;
  height: auto;
}

@media screen and (min-width: 724px) {
  .top-margin-for-nav {
    padding-top: 3.9rem;
    height: auto;
  }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 1000vh; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 99999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
