$rowGutter: 5px;
$colGutter: 5px;

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: $rowGutter;
}

.grid-col {
  flex-basis: 50%;
  padding: $colGutter;
  position: relative;
  box-sizing: border-box;
}

.grid-col-content {
  width: 100%;
}

@media(min-width: 820px) {
  .grid-col {
    flex-basis: 25% !important;
  }
}

@media screen and (min-width: 500px) {
  .grid-col {
    flex-basis: 33.33%;
  }
  .grid-row {
    margin: 30px;
  }
}


// EXAMPLE: USE ONLY ONE ROW
//<div className="grid-wrapper">
//<div className="grid-row">
//<div className="grid-col">
//<div className="grid-col-content">
//<ProductDisplay/>
//</div>
//</div>
//<div className="grid-col">
//<div className="grid-col-content">
//<ProductDisplay/>
//</div>
//</div>
//<div className="grid-col">
//<div className="grid-col-content">
//<ProductDisplay/>
//</div>
//</div>
//<div className="grid-col">
//<div className="grid-col-content">
//<ProductDisplay/>
//</div>
//</div>
//<div className="grid-col">
//<div className="grid-col-content">
//<ProductDisplay/>
//</div>
//</div>
//<div className="grid-col">
//<div className="grid-col-content">
//<ProductDisplay/>
//</div>
//</div>
//<div className="grid-col">
//<div className="grid-col-content">
//<ProductDisplay/>
//</div>
//</div>
//<div className="grid-col">
//<div className="grid-col-content">
//<ProductDisplay/>
//</div>
//</div>
//</div>
//</div>

