.base-field {
  display: flex;
  flex-direction: column;
}

.custom-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-item {
  margin: 10px 0;
}

.form-select-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-category-button {
  cursor: pointer;
  color: blue;
  font-weight: lighter !important;
}
