@import 'themeColors';

$searchBarBorderColor: #757575;
$desktopButtonBackgroundColor: #525050;

%position-vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-vertical {
  @extend %position-vertical-center;
}

.nav-content {
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.nav-border-bottom {
  border-bottom: 1px solid $desktopButtonBackgroundColor;
}

.nav-left-content {
  display: flex;
  justify-content: space-evenly;
}

.nav-bar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999999999999999999;
  top: 0;
  background: white;
}

.mobile-link-flex {
  display: flex;
  justify-content: space-between;
}

.mobile-nav-links {
  //display: none;
  height: 0;
  overflow: hidden;
  background: $navBackground;
  transition: 0.2s;
}

.mobile-nav-bar-item {
  @extend %position-vertical-center;
  color: black !important;
  transition: color 0.5s;
}

.mobile-nav-row {
  margin: 0;
  background: white;
  border-bottom: 1px solid $desktopButtonBackgroundColor;
}

.font-weight-bold {
  font-weight: bold;
}

.desktop-show {
  display: none;
}

.desktop-nav-button-group {
  margin-left: 2rem;
}

%desktop-default-style {
  color: black !important;
  background: white;
}

%desktop-hover-style {
  background: $desktopButtonBackgroundColor;
  color: white !important;

}

$searchResultWidth: 80%;

.search-results {
  position: absolute;
  top: 1.95rem;
  left: 0;
  background: white;
  width: $searchResultWidth !important;
  border-top: 1px solid orange;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.mobile-search-results {
  position: absolute;
  top: 1.95rem;
  left: 0;
  background: white;
  width: 100%;
  border-top: 1px solid orange;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.result {
  width: $searchResultWidth !important;
  cursor: pointer;
  margin: 0;
}

.nav-search-link {
  display: block;
  width: 100% !important;
  height: 100%;
  padding: 3%;
}

.result:hover {
  background: #dddddd;
}

.button-focus {
  border-top: 1px solid orange !important;
  border-right: 1px solid orange !important;
  border-bottom: 1px solid orange !important;
}

.desktop-nav-button {
  @extend %desktop-default-style;
  border-right: 1px solid $desktopButtonBackgroundColor;
  border-left: 1px solid $desktopButtonBackgroundColor;
  font-weight: bold;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  cursor: pointer;
}

.desktop-nav-button:hover, .desktop-nav-button-active {
  @extend %desktop-hover-style
}

%search-bar-height {
  //height: 2rem !important;
}

.search-bar-button {
  //@extend %search-bar-height;
  height: 2rem !important;
  margin-right: 16px;
  background: white;
  border: 1px solid $searchBarBorderColor;
  border-left: 0px transparent;
  font-size: 16px !important;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.search-bar {
  //@extend %search-bar-height;
  height: 2rem !important;
  border: 1px solid $searchBarBorderColor;
  border-right: 0px transparent;
  padding-left: 10px;
  width: 300px;
}

.search-bar:focus {
  outline-width: 0;
  border-top: 1px solid orange;
  border-left: 1px solid orange;
  border-bottom: 1px solid orange;
}

.desktop-nav-links {
  background: $desktopButtonBackgroundColor;
}

.desktop-navs-container {
  margin-left: 5% !important;
  display: flex;
  justify-content: flex-start;
}

.desktop-nav-item {
  @extend %desktop-hover-style;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.desktop-nav-item:hover {
  @extend %desktop-default-style;
}

.mobile-search-bar {
  background: white;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.mobile-search-bar-close {
  position: absolute;
  top: 1rem;
  right: 5%;
  font-size: 2rem;
}

.mobile-search-bar-wrapper {
  position: relative;
  top: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  height: 2rem;
}

.mobile-search-bar-input {
  width: calc(100% - 37px) !important;
}

.search-bar-wrapper {
  height: 2rem;
}

.mobile-search-bar-button {
  margin: 0px !important;
  //width: 10px !important;
}

.nav-basket-wrapper {
  height: auto;
  //width: 100px;
  padding: 10px;
  position: absolute;
  top: 100%;
  right: 4.5%;
  background: red;
  z-index: 999999;
}

.nav-basket-items {
  max-height: 160px;
  overflow: auto;
}

.nav-basket-item {
  margin-bottom: 20px;
}

.nav-basket-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-basket-button {
  width: 100%;
}

@media screen and (min-width: 780px) {
  .mobile-show {
    display: none !important;
  }

  .desktop-show {
    display: block;
  }

  .nav-content {
    padding: 0 5%;
  }

}

