@import 'themeColors';

$searchBarBorderColor: #757575;
$desktopButtonBackgroundColor: #525050;

%position-vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-vertical {
  @extend %position-vertical-center;
}

.nav-content {
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.nav-border-bottom {
  border-bottom: 1px solid $desktopButtonBackgroundColor;
}

.nav-left-content {
  display: flex;
  justify-content: space-evenly;
}

.nav-bar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
  background: white;
}

.mobile-link-flex {
  display: flex;
  justify-content: space-between;
}

.mobile-nav-links {
  //display: none;
  height: 0;
  overflow: hidden;
  background: $navBackground;
  transition: 0.2s;
}

.mobile-nav-bar-item {
  @extend %position-vertical-center;
  color: black !important;
  transition: color 0.5s;
}

.mobile-nav-row {
  margin: 0;
  background: white;
  border-bottom: 1px solid $desktopButtonBackgroundColor;
}

.font-weight-bold {
  font-weight: bold;
}

.desktop-show {
  display: none;
}

.desktop-nav-button-group {
  margin-left: 2rem;
}

%desktop-default-style {
  color: black !important;
  background: white;
}

%desktop-hover-style {
  background: $desktopButtonBackgroundColor;
  color: white !important;

}

.desktop-nav-button {
  @extend %desktop-default-style;
  border-right: 1px solid $desktopButtonBackgroundColor;
  border-left: 1px solid $desktopButtonBackgroundColor;
  font-weight: bold;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  cursor: pointer;
}

.desktop-nav-button:hover, .desktop-nav-button-active {
  @extend %desktop-hover-style
}

%search-bar-height {

  height: 2rem;
}

.search-bar-button {
  @extend %search-bar-height;
  margin-right: 16px;
  background: white;
  border: 1px solid $searchBarBorderColor;
  border-left: 0px transparent;
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;

}

.desktop-nav-links{
  background: $desktopButtonBackgroundColor;
}

.desktop-navs-container {
  margin-left: 5% !important;
  display: flex;
  justify-content: flex-start;
}

.desktop-nav-item {
  @extend %desktop-hover-style;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}

.desktop-nav-item:hover {
  @extend %desktop-default-style;
}

.search-bar {
  @extend %search-bar-height;
  border: 1px solid $searchBarBorderColor;
  border-right: 0px transparent;
  padding-left: 10px;
  width: 300px;
}

.search-bar:focus {
  outline-width: 0;
}

@media screen and (min-width: 426px) {
  .mobile-show {
    display: none !important;
  }

  .desktop-show {
    display: block;
  }

  .nav-content {
    padding: 0 5%;
  }

}
