@import 'themeColors';

$searchBarBorderColor: #757575;
$desktopButtonBackgroundColor: #525050;
$navBorderColor: darkgrey;

%position-vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-vertical {
  @extend %position-vertical-center;
}

.nav-content {
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.nav-border-bottom {
  border-bottom: 1px solid $desktopButtonBackgroundColor;
}

.nav-left-content {
  display: flex;
  max-width: 152px;
  justify-content: space-evenly;
}

@media screen and (min-width: 500px) {
  .nav-left-content {
    max-width: none;
  }
}



.nav-bar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999999999999999999;
  top: 0;
  background: white;
}

.mobile-link-flex {
  display: flex;
  justify-content: space-between;
}

.mobile-nav-links {
  //display: none;
  height: 0;
  overflow: hidden;
  background: $navBackground;
  transition: 0.2s;
}

.mobile-nav-bar-item {
  @extend %position-vertical-center;
  color: black !important;
  transition: color 0.5s;
}

.mobile-nav-row {
  margin: 0;
  background: white;
  border-bottom: 1px solid $desktopButtonBackgroundColor;
}

.font-weight-bold {
  font-weight: bold;
}

.desktop-show {
  display: none;
}

.desktop-nav-button-group {
  margin-left: 2rem;
}

%desktop-default-style {
  color: black !important;
  background: white;
}

%desktop-hover-style {
  background: $desktopButtonBackgroundColor;
  color: white !important;

}

$searchResultWidth: 80%;

.search-results {
  position: absolute;
  top: 1.95rem;
  left: 0;
  background: white;
  width: $searchResultWidth !important;
  border-top: 1px solid orange;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.mobile-search-results {
  position: absolute;
  top: 1.95rem;
  left: 0;
  background: white;
  width: 100%;
  border-top: 1px solid orange;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.result {
  width: $searchResultWidth !important;
  cursor: pointer;
  margin: 0;
}

.nav-search-link {
  display: block;
  width: 100% !important;
  height: 100%;
  padding: 3%;
}

.result:hover {
  background: #dddddd;
}

.button-focus {
  border-top: 1px solid orange !important;
  border-right: 1px solid orange !important;
  border-bottom: 1px solid orange !important;
}

.desktop-nav-button {
  @extend %desktop-default-style;
  border-right: 1px solid $desktopButtonBackgroundColor;
  border-left: 1px solid $desktopButtonBackgroundColor;
  font-weight: bold;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  cursor: pointer;
}

.desktop-nav-button:hover, .desktop-nav-button-active {
  @extend %desktop-hover-style
}

%search-bar-height {
  //height: 2rem !important;
}

.active-selector {
  border-top: 4px solid #0770cf !important;
}

.search-bar-button {
  //@extend %search-bar-height;
  height: 2rem !important;
  margin-right: 16px;
  background: white;
  border: 1px solid $searchBarBorderColor;
  border-left: 0px transparent;
  font-size: 16px !important;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.search-bar {
  //@extend %search-bar-height;
  height: 2rem !important;
  border: 1px solid $searchBarBorderColor;
  border-right: 0px transparent;
  padding-left: 10px;
  width: 300px;
}

.search-bar:focus {
  outline-width: 0;
  border-top: 1px solid orange;
  border-left: 1px solid orange;
  border-bottom: 1px solid orange;
}

.desktop-nav-links {
  background: $desktopButtonBackgroundColor;
}

.desktop-navs-container {
  margin-left: 5% !important;
  display: flex;
  justify-content: flex-start;
}

.desktop-nav-item {
  @extend %desktop-hover-style;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.desktop-nav-item:hover {
  @extend %desktop-default-style;
}

.mobile-search-bar {
  background: white;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.mobile-search-bar-close {
  position: absolute;
  top: 1rem;
  right: 5%;
  font-size: 2rem;
}

.mobile-search-bar-wrapper {
  position: relative;
  top: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  height: 2rem;
}

.mobile-search-bar-input {
  width: calc(100% - 37px) !important;
}

.search-bar-wrapper {
  height: 2rem;
}

.mobile-search-bar-button {
  margin: 0px !important;
  //width: 10px !important;
}

$navBasketPadding: 10px;

.nav-basket-wrapper {
  opacity: 0;
  height: 0;
  position: fixed;
  top: 3.85rem;
  overflow: hidden;
  width: 220px;
  right: 4.5%;
  z-index: 999999;
}

$topChangeTime: 1.0s;
.height-change {
  -webkit-animation: heightchange $topChangeTime forwards; /* Safari 4.0 - 8.0 */
  animation: heightchange $topChangeTime forwards;
}

.opacity-change {
  -webkit-animation: opacitychange $topChangeTime forwards; /* Safari 4.0 - 8.0 */
  animation: opacitychange $topChangeTime forwards;
}

.opacity-change-reverse {
  -webkit-animation: opacitychangereverse $topChangeTime forwards; /* Safari 4.0 - 8.0 */
  animation: opacitychangereverse $topChangeTime forwards;
}

/* standard syntax */
@keyframes opacitychange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacitychangereverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}



.height-change-reverse {
  -webkit-animation: heightchangereverse $topChangeTime forwards; /* Safari 4.0 - 8.0 */
  animation: heightchangereverse $topChangeTime forwards;
}
//
//.height-change {
//  -webkit-animation: heightchange $topChangeTime forwards; /* Safari 4.0 - 8.0 */
//  animation: heightchange $topChangeTime forwards;
//}

.height-change-higher {
  -webkit-animation: heightchangehigher $topChangeTime forwards; /* Safari 4.0 - 8.0 */
  animation: heightchangehigher $topChangeTime forwards;
}

.height-change-higher-reverse {
  -webkit-animation: heightchangehigherreverse $topChangeTime forwards; /* Safari 4.0 - 8.0 */
  animation: heightchangehigherreverse $topChangeTime forwards;
}

$heightChange: 257.67px;
$heightChangeHigher: 297.67px;

/* standard syntax */
@keyframes heightchange {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: $heightChange;
    opacity: 1;
  }
}

@keyframes heightchangereverse {
  from {
    height: $heightChange;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

/* standard syntax */
@keyframes heightchangehigher {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: $heightChangeHigher;
    opacity: 1;
  }
}

@keyframes heightchangehigherreverse {
  from {
    height: $heightChangeHigher;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}



$topPositionEnd: 3.85rem;

@keyframes topchange {
  from {
    top: -$topPositionEnd;
    opacity: 0;
  }
  to {
    top: $topPositionEnd;
    opacity: 1;
  }
}

@keyframes topchangereverse {
  from {
    top: $topPositionEnd;
    opacity: 1;
  }
  to {
    top: -$topPositionEnd;
    opacity: 0;
  }
}


.nav-basket-items {
  max-height: 160px;
  border-right: 1px solid $navBorderColor;
  border-left: 1px solid $navBorderColor;
  overflow: auto;
  background: #ffffff;
  padding: $navBasketPadding;
}

//.nav-basket-item {
//  margin-bottom: 20px;
//}

.nav-basket-total {
  border-right: 1px solid $navBorderColor;
  border-left: 1px solid $navBorderColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $navBasketPadding;
  background: #f8f8f8;
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
}

.nav-basket-footer {
  padding: $navBasketPadding;
  background: #eeeeee;
  border-right: 1px solid $navBorderColor;
  border-left: 1px solid $navBorderColor;
  border-bottom: 1px solid $navBorderColor;
  border-top: 1px solid $navBorderColor;
}

.nav-basket-button {
  width: 100%;
}

.nav-basket-header {
  background: #eeeeee;
  padding: $navBasketPadding;
  border-right: 1px solid $navBorderColor;
  border-left: 1px solid $navBorderColor;
  border-top: 1px solid $navBorderColor;
}

.little-triangle {
  float:right;
  position:fixed;
  //background: red;
  top: calc(3.85rem - 14px);
  opacity: 0;
  width: 0;
  height: 0;
  right: 4.5%;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid $navBorderColor;
}

@media screen and (min-width: 780px) {
  .mobile-show {
    display: none !important;
  }

  .desktop-show {
    display: block;
  }

  .nav-content {
    padding: 0 5%;
  }

}

