@import url(https://fonts.googleapis.com/css?family=Poppins);
.center-vertical, .mobile-nav-bar-item {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.nav-content {
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle; }

.nav-border-bottom {
  border-bottom: 1px solid #525050; }

.nav-left-content {
  display: flex;
  justify-content: space-evenly; }

.nav-bar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
  background: white; }

.mobile-link-flex {
  display: flex;
  justify-content: space-between; }

.mobile-nav-links {
  height: 0;
  overflow: hidden;
  background: #e0ebe8;
  transition: 0.2s; }

.mobile-nav-bar-item {
  color: black !important;
  transition: color 0.5s; }

.mobile-nav-row {
  margin: 0;
  background: white;
  border-bottom: 1px solid #525050; }

.font-weight-bold {
  font-weight: bold; }

.desktop-show {
  display: none; }

.desktop-nav-button-group {
  margin-left: 2rem; }

.desktop-nav-button, .desktop-nav-item:hover {
  color: black !important;
  background: white; }

.desktop-nav-button:hover, .desktop-nav-button-active, .desktop-nav-item {
  background: #525050;
  color: white !important; }

.desktop-nav-button {
  border-right: 1px solid #525050;
  border-left: 1px solid #525050;
  font-weight: bold;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  cursor: pointer; }

.search-bar-button, .search-bar {
  height: 2rem; }

.search-bar-button {
  margin-right: 16px;
  background: white;
  border: 1px solid #757575;
  border-left: 0px transparent;
  font-size: 16px !important;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer; }

.search-bar {
  border: 1px solid #757575;
  border-right: 0px transparent;
  padding-left: 10px;
  width: 300px; }

.search-bar:focus {
  outline-width: 0; }

.desktop-nav-links {
  background: #525050; }

.desktop-navs-container {
  margin-left: 5% !important;
  display: flex;
  justify-content: flex-start; }

.desktop-nav-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem; }

@media screen and (min-width: 724px) {
  .mobile-show {
    display: none !important; }
  .desktop-show {
    display: block; }
  .nav-content {
    padding: 0 5%; } }

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 5px; }

.grid-col {
  flex-basis: 50%;
  padding: 5px;
  position: relative;
  box-sizing: border-box; }

.grid-col-content {
  width: 100%; }

@media (min-width: 820px) {
  .grid-col {
    flex-basis: 25% !important; } }

@media screen and (min-width: 500px) {
  .grid-col {
    flex-basis: 33.33%; }
  .grid-row {
    margin: 30px; } }

.aspect-ratio-box {
  height: 0;
  overflow: hidden;
  padding-top: 128.09917%;
  background: white;
  position: relative; }

.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.flexbox-centering {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red; }

.viewport-sizing {
  font-size: 5vw; }

.above-footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid black; }

.social-icon {
  font-size: 1.5rem; }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }

.social-icon {
  margin: 1rem; }

.mobile-footer-content {
  display: flex;
  justify-content: space-between;
  background: #dddddd;
  padding: 1rem 5%; }

.mobile-footer {
  font-size: 0.7rem !important; }

.mobile-right-footer-link-first {
  padding-right: 0.4rem;
  border-right: 1px solid black; }

.mobile-right-footer-link-second {
  padding-left: 0.4rem; }

.desktop-footer {
  height: 242px;
  background: #dddddd; }

.desktop-footer-content {
  padding-top: 3%;
  color: #666666;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between; }

.desktop-col-header {
  font-weight: bold;
  font-size: 1.1rem !important;
  text-transform: uppercase; }

.desktop-footer-row {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.85rem !important; }

.desktop-footer-row:hover {
  color: #0770cf !important; }

.product-selector {
  background: #eeeeee;
  display: flex;
  justify-content: center; }

.selector-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative; }

.selector-style {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  color: #666666;
  cursor: pointer;
  padding: 0.5rem 1rem; }

.selector-options {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  display: none;
  position: absolute;
  background: #eeeeee;
  top: 2.75rem;
  left: -20%;
  z-index: 999;
  width: 280px; }

.product-selector-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 5%;
  padding-left: 5%; }

.selector-type-text {
  margin-right: 5rem; }

.selector-options-content {
  margin: 1rem; }

.selector-options-header {
  padding: 1rem;
  background: white; }

.option-box {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: white; }

.option-box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.selected-option-active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: white !important;
  border-left: 2px solid #0770cf;
  border-right: 2px solid #0770cf;
  border-top: 4px solid #0770cf; }

.option-box-flex {
  display: flex;
  justify-content: space-between; }

.option-box-active {
  background: #0770cf;
  color: white;
  font-weight: bold; }

@media screen and (min-width: 768px) {
  .selector-group {
    margin-right: 2.5rem; }
  .product-selector {
    height: 4.65rem;
    justify-content: flex-start; }
  .selector-options {
    width: 356px;
    left: 0; }
  .product-selector-content {
    flex-direction: row; } }

.product {
  background: white;
  margin-bottom: 1rem; }

.product-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: red; }

.product-description-wrapper {
  max-height: 42px;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  position: relative;
  /* "transparent" only works here because == rgba(0,0,0,0) */ }

.fade-text {
  background-image: linear-gradient(to bottom, transparent, white);
  display: none;
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 9; }

.product-page-header {
  background: #f8f8f8;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center; }

.product-list {
  background: yellow; }

.product-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.product-col {
  flex-basis: 25%;
  -ms-flex: auto;
  position: relative;
  box-sizing: border-box; }

@media (max-width: 700px) {
  .product-col {
    flex-basis: 50%; } }

body {
  font-family: 'Poppins', sans-serif; }

a, a:hover, a:focus {
  text-decoration: none !important;
  color: inherit !important; }

.top-margin-for-nav {
  padding-top: 3.9rem; }

