.thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.thumbnail-image-field {
  //max-width: 150px;
  //margin: 10px 0;
}

.label-class {
  font-weight: bold;
}

.add-form-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-product-page {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  height: auto;
  margin: 40px 0;
}

.login-form-container {
  @extend .add-form-container;
}

.login-page {
  display: flex;
  justify-content: center;
}

$modalRadius: 8px;
$modalBorder: 1px solid lightgrey;
.add-header {
  border-top: $modalBorder;
  border-right: $modalBorder;
  border-left: $modalBorder;
  border-bottom: $modalBorder;
  font-weight: bold;
  padding: 4%;
  background: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: $modalRadius;
  border-top-right-radius: $modalRadius;
}

.success-header {
  font-weight: bold;
  padding: 4%;
  background: green;
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: $modalRadius;
  border-top-right-radius: $modalRadius;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.add-category-modal {
  background: transparent;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999999999999999999; /* Sit on top */
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%; /* Full width */
  max-width: 400px;
  animation: slideIn .7s forwards, fadeIn .7s forwards;


}

@keyframes slideIn {
  from {
    top: 0px;
    opacity: 0
  }
  to {
    top: 300px;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.add-category-content {
  background: white;
  padding: 4%;
  border-bottom-left-radius: $modalRadius !important;
  border-bottom-right-radius: $modalRadius !important;
  border-bottom: $modalBorder;
  border-right: $modalBorder;
  border-left: $modalBorder;
}


